.container {
  border: 2px;
  border-style: groove;
  display: flex;
  justify-content: space-around;
}

.title {
  border: 2px;
  border-style: groove;
  text-align: center;
}

.active-playlist-box {
  border: 2px;
  border-style: groove;
  width: 30vw;
  height: 22vh;
}

.songlist {
  border: 2px;
  border-style: groove;
  width: 40vw;
  height: 55vh;
}

.all-playlist-box {
  border: 2px;
  border-style: groove;
  width: 40vw;
  height: 45vh;
}

.controller {
  border: 2px;
  border-style: groove;
  width: 40vw;
  height: 10vh;
}

.leftbox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px;
  border-style: groove;
}
.rightbox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px;
  border-style: groove;
}
