.container {
  display: flex;
  justify-content: space-around;
  height: 75vh;
  width: 95vw;
  margin: 0 2.5vw;
}

.title {
  text-align: center;
  color: white;
}

.activeBackground {
  background-color: rgba(255, 255, 255, 0.014);
  border-radius: 100px;
}
.active-playlist-box {
  width: 30vw;
  height: 22vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-bottom: 100px;
}

.active-playlist-box img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}
.active-playlist-box h5 {
  margin: 0;
  color: white;
  text-decoration: none;
  text-align: center;
}
.active-playlist-box a {
  color: white;
  text-decoration: none;
  text-align: center;
}

.songlist {
  width: 40vw;
  height: 55vh;
  margin: auto;
  overflow: auto;
}
.songlist li span {
  margin-left: 20px;
}
.songlist ol {
  counter-reset: item;
  list-style-type: none;
}
.songlist li {
  display: block;
  margin: 10px 20px 10px 0px;
  width: 20px;
}
.songlistLi:before {
  content: counter(item) "  ";
  counter-increment: item;
}
.songartist {
  display: flex;
  flex-direction: column;
}
.songartist span {
  text-overflow: ellipsis !important;
  max-height: 22px;
  max-width: 400px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  font-weight: bold;
}

.songbox {
  display: flex;
  flex-direction: row;
  color: white;
}

.all-playlist-box {
  width: 44vw;
  height: 45vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: auto;
  border: white;
  border-style: solid;
  border-radius: 20px;
  align-content: flex-start;
}
.all-playlist-box img {
  width: 135px;
  height: 135px;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  z-index: 9999;
}

.imageBox {
  position: relative;
  margin: 10px;
}
.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0;
  margin: 10px;
  padding: 0;
  opacity: 0;
  transition: 0.5s ease;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;
}
.albumCover {
  padding: 0;
  transition: 1s ease;
}
.overlay:hover + .albumCover {
  opacity: 0.2;
}

.overlay:hover {
  opacity: 0.8;
}

.overlay p {
  color: white;
  font-size: 1.5vh;
  position: absolute;
  top: auto;
  left: auto;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden;
  max-height: 120px;
  max-width: 120px;
  display: inline-block;
  margin: 0;
  z-index: 999;
  opacity: 1;
}
::-webkit-scrollbar {
  width: 10px;
  max-height: 10px;
  border-radius: 100px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(54, 54, 255, 0.479);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.controller {
  width: 40vw;
  height: 10vh;
  margin: auto;
}

.leftbox {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 45vw;
}
.rightbox {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 45vw;
}

.defaultPage {
}
.defaultPage h1 {
  color: white;
  text-align: center;
}
.defaultPage p {
  color: white;
  text-align: center;
}
